<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div>
        <form action="/app1/" method="post">
            <input name="hostname" type="text" placeholder="用户名">
            <input name="ip" type="text" placeholder="ip">
            <input name="des" type="text" placeholder="描述">
            <input type="submit" value="提交">
        </form>
    </div>
    <div>
        <table>
            {%  for i in host_list %}
                <tr>
                    <td>{{ i.hostname }}</td>>
                    <td>{{ i.ip }}</td>
                    <td>{{ i.description }}</td>
                </tr>
            {% endfor %}
        </table>
     </div>
</body>
</html>