<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Host Manager</title>
        <link type="text/css" href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link type="text/css" href="/static/css/theme.css" rel="stylesheet">
        <link type="text/css" href="/static/images/icons/css/font-awesome.css" rel="stylesheet">
        <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
            rel='stylesheet'>
        <style>
            .left-style {
                text-align: left;
                margin-left: 30px;
            }
        </style>
    </head>
    <body>
        <div class="zhezhao hide"></div>
        <div class="duihuakuang duihuakuang-add hide">
            <form action="/app1/index/" method="post">
                <input name="func" class="hide" value="add">
                <p>主机名<input name="hostname" type="text" placeholder="主机名"  style="width:100px; "></p>
                <p>主机组<select name="hgroup_id" style="width: 180px; text-align: center;">
                    {% for i in hgroup_list %}
                        <option value={{ i.id }}>{{ i.name }}</option>
                    {% endfor %}
                </select></p>
                <p>ip<input name="ip" type="text" placeholder="ip" style="width:100px;"></p>
                <p>操作系统<input name="platform" type="text" placeholder="操作系统"></p>
                <p>描述<input name="des" type="text" placeholder="描述"></p>
                <p><input type="submit"  class="submit_item" value="添加">
                <input type="button" class="submit_item" value="取消"></p>
            </form>
        </div>
        <div class="del hide">
            <form action="/app1/index/" method="post">
                <input name="func" class="hide" value="del">
                <input name="id" type="text" class="del-id">
            </form>
        </div>
        <div class="update hide">
            <form action="/app1/index/" method="post">
                <input name="func" value="update">
                <input name="id" type="text">
                <input name="hostname" type="text">
                <input name="hgroup_id" type="text">
                <input name="ip" type="text">
                <input name="platform" type="text">
                <input name="des" type="text">
            </form>
        </div>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                        <i class="icon-reorder shaded"></i></a><a class="brand" href="/app1/index/">Host Manager </a>
                    <div class="nav-collapse collapse navbar-inverse-collapse">
                        <ul class="nav pull-right">
                            <li class="nav-user dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/static/images/user.png" class="nav-avatar" />
                                <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Your Profile</a></li>
                                    <li><a href="#">Edit Profile</a></li>
                                    <li><a href="#">Account Settings</a></li>
                                    <li class="divider"></li>
                                    <li><a href="/login/">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.nav-collapse -->
                </div>
            </div>
            <!-- /navbar-inner -->
        </div>
        <!-- /navbar -->
        <div class="wrapper">
            <div class="container">
                <div class="row">
                   <div class="span3">
                        <div class="sidebar">
                            <ul class="widget widget-menu unstyled">
                                <li class="active"><a href="/app1/index/"><i class="menu-icon icon-dashboard"></i>Dashboard
                                </a></li>
                                <li><a href="/app1/user/"><i class="menu-icon icon-bullhorn"></i>User</a>
                                </li>
                                <li><a href="#"><i class="menu-icon icon-inbox"></i>Inbox <b class="label green pull-right">
                                    11</b> </a></li>
                                <li><a href="#"><i class="menu-icon icon-tasks"></i>Tasks <b class="label orange pull-right">
                                    19</b> </a></li>
                            </ul>
                            <!--/.widget-nav-->

                        </div>
                        <!--/.sidebar-->
                    </div>
                    <!--/.span3-->
                    <div class="span9">
                        <div class="content">
                            <!--/.module-->
                            <div class="module hide">
                                <div class="module-head">
                                    <h3>
                                        Adjust Budget Range</h3>
                                </div>
                                <div class="module-body">
                                    <div class="form-inline clearfix">
                                        <a href="#" class="btn pull-right">Update</a>
                                        <label for="amount">
                                            Price range:</label>
                                        &nbsp;
                                        <input type="text" id="amount" class="input-" />
                                    </div>
                                    <hr />
                                    <div class="slider-range">
                                    </div>
                                </div>
                            </div>
                            <div class="module">
                                <div class="module-head">
                                    <h3 style="display: inline;">
                                        DataTables</h3>
                                    <input type="button" value="添加" class="add2" style="margin-left: 30px;">
                                </div>
                                <div class="module-body table">
                                    <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	 display"
                                        width="100%">
                                        <thead>
                                            <tr>
                                                <th>主机名</th>
                                                <th>主机组</th>
                                                <th>ＩＰ</th>
                                                <th>操作系统</th>
                                                <th>描述</th>
                                                <th style="width: 150px; border-left: hidden"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in host_list %}
                                                <tr>
                                                    <td class="iid hide">{{ i.id }}</td>
                                                    <td class="hostname">{{ i.hostname }}</td>>
                                                    <td class="hgc hide">
                                                        <select name="hgroup_id" style="width: 180px; text-align: center;" class="hgroup_id">
                                                            {% for i in hgroup_list %}
                                                                <option  value={{ i.id }}>{{ i.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td class="hgroup">{{ i.group.name }}</td>
                                                    <td class="ip">{{ i.ip }}</td>
                                                    <td class="platform">{{ i.platform }}</td>
                                                    <td class="description">{{ i.description }}</td>
                                                    <td style="width: 150px; border-left: hidden">
                                                        <input type="button" value="删除" class="del2" >
                                                        <input type="button" value="修改" class="update2">
                                                        <input type="button" value="确认" class="hide queren">
                                                        <input type="button" value="取消" class="hide quxiao">
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--/.module-->
                        </div>
                        <!--/.content-->
                    </div>
                    <!--/.span9-->
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->
        <div class="footer">
        </div>
        <script src="/static/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="/static/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/scripts/flot/jquery.flot.js" type="text/javascript"></script>
        <script src="/static/scripts/flot/jquery.flot.resize.js" type="text/javascript"></script>
        <script src="/static/scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>
        <script src="/static/scripts/common.js" type="text/javascript"></script>
        <script>
            $(".duihuakuang p").addClass("left-style");
            $(".add2").click(addItem);
            $(".del2").click(delItem);
            $(".update2").click(upItem);
            $(".queren").click(queren);
            $(".submit_item").click(function () {
                $(".zhezhao").addClass("hide");
                $(".duihuakuang").addClass("hide");
            });
            $(".quxiao").click(function () {
                location.reload()
            });
            function addItem() {
                $(".duihuakuang-add").removeClass("hide");
                $(".zhezhao").removeClass("hide");
            }
            function delItem() {
                var v=$(this).parent().parent().children(".iid").text();
                $(".del-id").attr("value",v).parent().submit();
            }
            function upItem() {
                $(this).addClass("hide").prev().addClass("hide").parent().parent().attr("contentEditable", "true");
                $(this).next().removeClass('hide').next().removeClass('hide');
                $(this).parent().parent().children(".hgroup").addClass("hide").prev().removeClass("hide");
            }
            function queren() {
                var f=$(this).parent().parent();
                var id=f.children(".iid").text();
                var hostname=f.children(".hostname").text();
                var hgroup_id=f.children(".hgc").children().children("option:selected").attr("value");
                var ip=f.children(".ip").text();
                var platform=f.children(".platform").text();
                var description=f.children(".description").text();
                //console.log(f.children(".hgc").children().children("option:selected").attr("value"));
                $(".update").children().children("input:first").next().attr("value",id).next().attr("value",hostname).next().attr("value",hgroup_id).next().attr("value",ip).next().attr("value",platform).next().attr("value",description).parent().submit();
                //$(".update").children().children("input:first").next().attr("value",id).next().attr("value",hostname).next().attr("value",hgroup_id).next().attr("value",ip).next().attr("value",platform).next().attr("value",description).parent();
            }
        </script>
    </body>
